@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h4>Your contact page.</h4>

<address>
    <strong>Support:</strong> <a href="mailto:info@blueharvest.io">BlueHarvestSupport</a><br />
</address>


