@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - ASP.NET Core 2.2";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20ASP.net%20website%20on%20Azure%20using%20Azure%20DevOps%20Project&hashtags=AzureDevOpsProject%2CVSTS%20%40Azure%20%40VSTS">
                <img src="~/images/tweetThis.svg" />
            </a>
        </div>
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> Your assessment for this test has been successfully setup. Welcome!!!</div>
            <div class="description line-2"> Your ASP.NET CORE application is up and running</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Learn about Capgemini</h2>
        <p>
            Capgemini is a leading IT consulting firm in the world
        </p>
        <p><a class="btn btn-light" href="https://www.capgemini.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blue Harvest</h2>
        <p>You can also see more about blue harvest and its careers</p>
        <p><a class="btn btn-light" href="https://blueharvest.io/careers/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow Blue Harvest on LinkedIn</h2>
        <p>Learn more about BlueHarvest and follow us on social media platform</p>
        <p><a class="btn btn-light" href="https://www.linkedin.com/company/blueharvest-io/">Learn more &raquo;</a></p>
    </div>
</div>

